[build]
  command = "npm run build && ls -R dist" # This 'ls' command will show us the folder structure in the logs if it fails
  publish = "dist" # We are moving this back to 'dist' temporarily

[dev]
  command = "npm run dev"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200